@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Raleway:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,300&display=swap");
/*Обнуление */
* {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

* :focus, * :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a {
  text-decoration: none;
}

a:visited, a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*-------------------- */
body {
  font-family: Montserrat;
}

.wrapper {
  min-height: 100vh;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.container {
  max-width: 1200px;
  margin: 0px auto;
  padding: 0px 15px;
}

.title {
  font-weight: 700;
  letter-spacing: -1.65px;
  color: #242121;
  font-size: 60px;
  line-height: 75px;
}

.title::after {
  content: '';
  display: block;
  width: 60px;
  height: 4px;
  margin: 14px 0px 0px 0px;
  background: #FCBB08;
}

.input-field {
  border-bottom: 3px solid #242121;
  font-family: Open Sans;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 3.70909px;
  color: #B8B8B8;
}

.header {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
}

.header::before {
  content: '';
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 1;
}

.header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 50px;
}

.header__logo {
  position: relative;
  z-index: 2;
}

.header__burger {
  width: 40px;
  height: 20px;
  position: relative;
  z-index: 3;
}

.header__burger span {
  display: block;
  width: 100%;
  height: 3px;
  background-color: black;
  margin: 0px 0px 7px 0px;
}

.header__burger span:last-child {
  margin: 0px 0px 0px 0px;
}

.header__menu {
  display: none;
  position: relative;
  z-index: 4;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__item {
  margin: 0px 50px 0px 0px;
}

.header__item:last-child {
  margin: 0px 0px 0px 0px;
}

.header__link {
  font-family: Raleway;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.6px;
  color: #373A39;
  position: relative;
}

.header__link:hover::after {
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  background-color: #FCBB08;
  position: absolute;
  bottom: -10px;
}

@media (min-width: 992px) {
  .header__burger {
    display: none;
  }
  .header__menu {
    display: block;
  }
}

.oxygen {
  background: url("../img/Header-bg.png") center/cover no-repeat;
  min-height: 100vh;
  padding: 210px 0px 60px 0px;
  font-weight: 700;
  text-align: center;
}

.oxygen__title {
  font-size: 60px;
  line-height: 122px;
  color: #FFFFFF;
  margin: 0px 0px 19px 0px;
}

.oxygen__subtitle {
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 2.74286px;
  color: #FCBB08;
  margin: 0px 0px 185px 0px;
}

.oxygen__mouse {
  margin: 0 auto;
  width: 26px;
  height: 43px;
  border: 3px solid #FFFFFF;
  border-radius: 100px;
}

.oxygen__ball {
  margin: 5px auto;
  width: 6px;
  height: 6px;
  background: #FFFFFF;
  border-radius: 50%;
  position: relative;
  top: 0;
  -webkit-animation: ball 1s ease-in-out infinite 500ms;
          animation: ball 1s ease-in-out infinite 500ms;
}

@media (min-width: 767px) {
  .oxygen__title {
    font-size: 100px;
  }
}

.about {
  background: #F6F8FA;
}

.about__inner {
  padding: 140px 0px 150px 0px;
}

.about__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about__title {
  font-size: 48px;
  margin: 0px 0px 40px 0px;
}

.about__text {
  font-family: Open Sans;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  color: #373A39;
}

.about__text p {
  margin: 0px 0px 15px 0px;
}

.about__text p:last-child {
  margin: 0px 0px 0px 0px;
}

@media (min-width: 992px) {
  .about__row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .about__title {
    margin: 0px 0px 0px 0px;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 30%;
            flex: 0 1 30%;
  }
  .about__text {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 70%;
            flex: 0 1 70%;
  }
}

.expertise__inner {
  padding: 140px 0px 160px 0px;
}

.expertise__title {
  margin: 0px 0px 80px 0px;
}

.expertise__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.expertise__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
          flex: 0 1 100%;
  margin: 0px 0px 40px 0px;
}

.expertise__image img {
  max-width: 100%;
  margin: 0px 0px 28px 0px;
}

.expertise__image img:last-child {
  margin: 0px 0px 0px 0px;
}

.expertise__text {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
          flex: 0 1 100%;
  font-family: Open Sans;
  font-weight: 300;
  color: #373A39;
  font-size: 14px;
  line-height: 24px;
}

.expertise__text p {
  margin: 0px 0px 15px 0px;
}

.expertise__text p:last-child {
  margin: 0px 0px 0px 0px;
}

.expertise__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
          flex: 0 1 100%;
  margin: 0px 0px 50px 0px;
}

.expertise__column:last-child {
  margin: 0px 0px 0px 0px;
}

.item__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.item__column {
  margin: 0px 30px 0px 0px;
}

.item__column:last-child {
  margin: 0px 0px 0px 0px;
}

.item__title {
  font-family: Raleway;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 4.29px;
  color: #333333;
  margin: 0px 0px 14px 0px;
}

.item__description {
  font-family: Open Sans;
  text-align: justify;
  color: #777777;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
}

@media (min-width: 767px) {
  .expertise__row {
    margin: 0px -15px 100px -15px;
  }
  .expertise__row:last-child {
    margin: 0px -15px 0px -15px;
  }
  .expertise__image {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
    margin: 0px 0px 0px 0px;
    padding: 0px 15px;
  }
  .expertise__text {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
    padding: 0px 15px;
  }
  .expertise__column {
    padding: 0px 15px;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }
  .expertise__column:last-child {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}

@media (min-width: 992px) {
  .expertise__image {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 30%;
            flex: 0 1 30%;
  }
  .expertise__text {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 70%;
            flex: 0 1 70%;
  }
  .expertise__column {
    margin: 0px 0px 0px 0px;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 33.333%;
            flex: 0 1 33.333%;
  }
  .expertise__column:last-child {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 33.333%;
            flex: 0 1 33.333%;
  }
}

.magic {
  background: #F6F8FA;
}

.magic__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.magic__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.magic__column img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.magic__inner {
  padding: 100px 0px 180px 0px;
}

.magic__body {
  max-width: 559px;
  padding: 0px 15px;
  margin: 0px auto;
}

.magic__title {
  margin: 0px 0px 60px 0px;
  line-height: 75px;
}

.magic__text {
  font-family: Open Sans;
  font-weight: 300;
  color: #373A39;
  font-size: 14px;
  line-height: 24px;
}

.magic__text p {
  margin: 0px 0px 15px 0px;
}

.magic__text p:last-child {
  margin: 0px 0px 0px 0px;
}

@media (min-width: 992px) {
  .magic__row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.portfolio__inner {
  padding: 139px 0px 103px 0px;
}

.portfolio__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.portfolio__title {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  margin: 0px 0px 20px 0px;
}

.portfolio__menu {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.portfolio__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.portfolio__list li {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
          flex: 0 1 100%;
  margin: 0px 0px 15px 0px;
}

.portfolio__list li:last-child {
  margin: 0px 0px 0px 0px;
}

.portfolio__link {
  font-family: Open Sans;
  font-weight: 600;
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 2px;
  color: #333333;
  position: relative;
}

.portfolio__link:hover::after {
  content: '';
  position: absolute;
  top: 25px;
  right: 0;
  display: block;
  width: 100%;
  height: 2px;
  background-color: #FCBB08;
}

@media (min-width: 992px) {
  .portfolio__list {
    text-align: right;
  }
  .portfolio__list li {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 10%;
            flex: 0 1 10%;
  }
  .portfolio__title {
    margin: 0px 0px 0px 0px;
  }
}

.gallery__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0px 0px 70px 0px;
}

.gallery__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
          flex: 0 1 100%;
}

.gallery__item {
  overflow: hidden;
  margin: 0px 0px 20px 0px;
}

.gallery__item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.gallery__item_1 {
  height: 494px;
}

.gallery__item_2 {
  height: 395px;
}

.gallery__item_3 {
  height: 288px;
}

.gallery__item_4 {
  height: 288px;
}

.gallery__item_5 {
  height: 292px;
}

.gallery__item_6 {
  height: 367px;
}

.gallery__item_7 {
  height: 523px;
}

.gallery__item_8 {
  height: 318px;
}

.gallery__item_9 {
  height: 572px;
  margin: 0px 0px 0px 0px;
}

@media (min-width: 767px) {
  .gallery__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }
  .gallery__item_7 {
    margin: 0px 0px 0px 0px;
  }
}

@media (min-width: 1300px) {
  .gallery__row {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .gallery__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 25%;
            flex: 0 1 25%;
    margin: 0px 20px 0px 0px;
  }
  .gallery__column:last-child {
    margin: 0px 0px 0px 0px;
  }
  .gallery__item:last-child {
    margin: 0px 0px 0px 0px;
  }
}

.footer-gallery {
  background: #F6F8FA;
}

.footer-gallery__row {
  height: 160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer-gallery__text {
  font-size: 14px;
  line-height: 17px;
  font-weight: bold;
  letter-spacing: 1.2px;
  color: #242121;
}

.info {
  font-family: Merriweather;
  padding: 130px 0px 148px 0px;
}

.info__description {
  font-style: italic;
  font-weight: 300;
  color: #242121;
  text-align: center;
  font-size: 18px;
  line-height: 36px;
  margin: 0px 0px 50px 0px;
}

.info__author {
  color: #9E9E9E;
  text-align: center;
  font-size: 18px;
  line-height: 32px;
  font-style: italic;
}

.video img {
  width: 100%;
}

.statistics {
  padding: 165px 0px;
}

.statistics__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.statistics__column {
  margin: 0px 0px 40px 0px;
}

.statistics__number {
  font-weight: bold;
  color: #242121;
  text-align: center;
  margin: 0px 0px 9px 0px;
  font-size: 60px;
  line-height: 73px;
}

.statistics__text {
  font-family: Open Sans;
  color: #00B2A0;
  font-size: 14px;
  line-height: 19px;
}

@media (min-width: 992px) {
  .statistics__row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .statistics__column {
    margin: 0px 0px 0px 0px;
  }
}

.show {
  background: #F6F8FA;
}

.show__inner {
  padding: 50px 0px;
  position: relative;
}

.show__title {
  font-weight: bold;
  color: #242121;
  font-size: 40px;
  line-height: 52px;
  margin: 0px 0px 25px 0px;
}

.show__subtitle {
  font-family: Open Sans;
  font-weight: 300;
  color: #777777;
  text-align: justify;
  font-size: 14px;
  line-height: 24px;
  margin: 0px 0px 30px 0px;
}

.show__pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.show__dot {
  margin: 0px 14px 0px 0px;
  cursor: pointer;
  width: 6px;
  height: 6px;
  background: #242121;
  opacity: 0.4;
  border-radius: 50%;
}

.show__dot:last-child {
  margin: 0px 0px 0px 0px;
}

.show__dot_big {
  width: 10px;
  height: 10px;
  opacity: 1;
}

@media (min-width: 500px) {
  .show__inner {
    padding: 307px 0px 110px 0px;
  }
}

@media (min-width: 992px) {
  .show__subtitle {
    margin: 0px 0px 190px 0px;
  }
}

@media (min-width: 1024px) {
  .show__title::before {
    content: '';
    display: block;
    width: 35px;
    height: 35px;
    background: url("../img/icons/arrow-left.svg") 0 0 no-repeat;
    position: absolute;
    top: 50%;
    left: 0;
    cursor: pointer;
  }
  .show__title::after {
    content: '';
    display: block;
    width: 35px;
    height: 35px;
    background: url("../img/icons/arrow-right.svg") 0 0 no-repeat;
    position: absolute;
    top: 50%;
    right: 0;
    cursor: pointer;
  }
}

@media (min-width: 1300px) {
  .show__title::before {
    content: '';
    margin: 0px 0px 0px 30px;
  }
  .show__title::after {
    content: '';
    margin: 0px 30px 0px 0px;
  }
}

.our {
  padding: 120px 0px 164px 0px;
}

.our__title {
  margin: 0px 0px 102px 0px;
}

.our__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.our__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
          flex: 0 1 100%;
  margin: 0px 0px 30px 0px;
}

.our__column:last-child {
  margin: 0px 0px 0px 0px;
}

.our__photo {
  margin: 0px 0px 35px 0px;
}

.our__photo img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.our__name {
  text-align: center;
  margin: 0px 0px 12px 0px;
  font-size: 14px;
  line-height: 17px;
  font-weight: bold;
  color: #333333;
}

.our__profession {
  font-family: Open Sans;
  text-align: center;
  font-weight: 300;
  font-size: 12px;
  line-height: 16px;
  color: #C2C2C2;
}

@media (min-width: 767px) {
  .our__row {
    margin: 0px -15px;
  }
  .our__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
    padding: 0px 15px;
    margin: 0px 0px 30px 0px;
  }
  .our__column:last-child {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}

@media (min-width: 992px) {
  .our__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 33.333%;
            flex: 0 1 33.333%;
    margin: 0px 0px 0px 0px;
  }
  .our__column:last-child {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 33.333%;
            flex: 0 1 33.333%;
  }
}

.price {
  font-family: Open Sans;
  background: #F6F8FA;
  padding: 144px 0px 162px 0px;
}

.price__title {
  margin: 0px 0px 90px 0px;
}

.price__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.price__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
          flex: 0 1 100%;
  margin: 0px 0px 30px 0px;
}

.price__column:last-child {
  margin: 0px 0px 0px 0px;
}

.price__inner {
  padding: 20px 0px 50px 0px;
  background: #FFFFFF;
}

.price__body {
  text-align: center;
  max-width: 240px;
  margin: 0px auto;
}

.price__plan {
  text-align: left;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  margin: 0px 0px 8px 0px;
  padding: 0px 0px 0px 20px;
  color: #242121;
}

.price__price {
  font-weight: 300;
  font-size: 80px;
  line-height: 109px;
  margin: 0px 0px 50px 0px;
}

.price__price span {
  font-size: 20px;
  line-height: 27px;
  color: #242121;
}

.price__price::before {
  content: '';
  display: inline-block;
  width: 23px;
  height: 54px;
  background: url("../img/price/$.svg") 0 0 no-repeat;
}

.price__list {
  font-size: 16px;
  line-height: 22px;
  font-weight: 300;
  margin: 0px 0px 65px 0px;
  color: #242121;
}

.price__list li {
  margin: 0px 0px 30px 0px;
}

.price__list li:last-child {
  margin: 0px 0px 0px 0px;
}

.price__choice {
  font-family: Montserrat;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 1.2px;
  color: #242121;
}

@media (min-width: 767px) {
  .price__row {
    margin: 0px -15px;
  }
  .price__column {
    padding: 0px 15px;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }
  .price__column:last-child {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}

@media (min-width: 992px) {
  .price__column {
    margin: 0px 0px 0px 0px;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 33.333%;
            flex: 0 1 33.333%;
  }
  .price__column:last-child {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 33.333%;
            flex: 0 1 33.333%;
  }
}

.contact__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.contact__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
          flex: 0 1 100%;
}

.contact__column img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.contact__body {
  padding: 140px 15px;
  max-width: 569px;
  margin: 0 auto;
}

.contact__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact__title {
  margin: 0px 0px 90px 0px;
}

.contact__name {
  padding: 0px 0px 5% 0px;
  margin: 0px 0px 30px 0px;
}

.contact__email {
  padding: 0px 0px 5% 0px;
  margin: 0px 0px 50px 0px;
}

.contact__message {
  padding: 0px 0px 30% 0px;
  margin: 0px 0px 40px 0px;
}

.contact__btn {
  background-color: #242121;
  color: #fff;
  font-weight: bold;
  font-size: 11px;
  letter-spacing: 2px;
  width: 230px;
  height: 45px;
  margin: 0px auto;
  -webkit-transition: background-color 0.3s ease 0s, color 0.3s ease 0s;
  transition: background-color 0.3s ease 0s, color 0.3s ease 0s;
}

.contact__btn:hover {
  background-color: #fff;
  color: #242121;
  border: 2px solid black;
}

@media (min-width: 992px) {
  .contact__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }
  .contact__btn {
    margin: 0px 0px 0px 0px;
  }
}

.social {
  text-align: center;
  background: #373A39;
}

.social__inner {
  padding: 100px 0px 60px 0px;
}

.social__logo {
  display: block;
  margin: 0px 0px 70px 0px;
  position: relative;
}

.social__logo::after {
  content: '';
  display: block;
  width: 150px;
  height: 2px;
  background-color: #FCBB08;
  position: absolute;
  bottom: -25px;
  left: 50%;
  margin: 0px 0px 0px -75px;
}

.social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  margin: 0px 0px 60px 0px;
}

.social__list li {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
          flex: 0 1 100%;
  margin: 0px 0px 20px 0px;
}

.social__list li:last-child {
  margin: 0px 0px 0px 0px;
}

.social__link {
  font-weight: 300;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 4px;
  color: #FFFFFF;
}

.social__text {
  font-family: Open Sans;
  font-size: 14px;
  line-height: 32px;
  color: #A8A8A8;
  margin: 0px 0px 50px 0px;
}

.social__shape {
  position: relative;
  bottom: 0;
  -webkit-animation: shape 2s ease-in-out infinite alternate;
          animation: shape 2s ease-in-out infinite alternate;
  display: inline-block;
  padding: 15px 15px;
}

@media (min-width: 992px) {
  .social__list li {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 11%;
            flex: 0 1 11%;
    margin: 0px 0px 0px 0px;
  }
}

.footer {
  background-color: #2A2C2B;
}

.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 84px;
}

.footer__text {
  font-family: Open Sans;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: #CCCCCC;
}

@-webkit-keyframes ball {
  0% {
    top: 0;
  }
  100% {
    top: 20px;
  }
}

@keyframes ball {
  0% {
    top: 0;
  }
  100% {
    top: 20px;
  }
}

@-webkit-keyframes shape {
  0% {
    bottom: 0;
  }
  100% {
    bottom: 20px;
  }
}

@keyframes shape {
  0% {
    bottom: 0;
  }
  100% {
    bottom: 20px;
  }
}
