@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Raleway:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,300&display=swap");
body {
  font-family: Montserrat;
  color: #242424;
}

.wrapper {
  min-height: 100vh;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container {
  max-width: 1200px;
  margin: 0px auto;
  padding: 0px 15px;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.title {
  font-size: 3.75rem;
  line-height: 1.25;
  letter-spacing: -1.65px;
  font-weight: 700;
  color: #242121;
}

.title::after {
  content: '';
  display: block;
  width: 60px;
  height: 4px;
  margin: 14px 0px 0px 0px;
  background: #FCBB08;
}

.text {
  font-family: Open Sans;
  font-size: 0.875rem;
  line-height: 1.7;
  font-weight: 300;
  color: #373A39;
}

.input-field {
  font-family: Open Sans;
  font-size: 0.75rem;
  line-height: 1.6;
  letter-spacing: 3.70909px;
  color: #B8B8B8;
  border-bottom: 3px solid #242121;
}

.video video {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 992px) {
  .title {
    font-size: 2.5rem;
  }
}

/*Обнуление */
* {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

* :focus, * :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a {
  text-decoration: none;
}

a:visited, a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*-------------------- */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
}

.header::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
}

.header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 50px;
}

.header__logo {
  position: relative;
  z-index: 2;
}

.header__link {
  font-family: Raleway;
  font-size: 0.75rem;
  line-height: 116.66667%;
  letter-spacing: 0.05em;
  font-weight: 700;
  color: #373A39;
  position: relative;
}

.header__link:hover::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 100%;
  height: 2px;
  background-color: #FCBB08;
}

@media (min-width: 992px) {
  .header__burger {
    display: none;
  }
  .header__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header__list li {
    margin: 0px 50px 0px 0px;
  }
  .header__list li:last-child {
    margin: 0px 0px 0px 0px;
  }
}

@media (max-width: 992px) {
  .header__menu {
    display: none;
    position: relative;
    z-index: 4;
  }
  .header__burger {
    position: relative;
    z-index: 3;
    width: 40px;
    height: 20px;
  }
  .header span {
    display: block;
    width: 100%;
    height: 3px;
    background-color: black;
    margin: 0px 0px 7px 0px;
  }
  .header span:last-child {
    margin: 0px 0px 0px 0px;
  }
}

.oxygen {
  background: url("../img/Header-bg.png") center/cover no-repeat;
  min-height: 100vh;
  padding: 210px 0px 60px 0px;
  font-weight: 700;
  text-align: center;
}

.oxygen__title {
  font-size: 6.25rem;
  line-height: 1.22;
  color: #FFFFFF;
  margin: 0px 0px 0.19em 0px;
}

.oxygen__subtitle {
  font-size: 1rem;
  line-height: 1.25;
  letter-spacing: 0.17125em;
  margin: 0px 0px 11.5625em 0px;
  color: #FCBB08;
}

.oxygen__mouse {
  margin: 0 auto;
  width: 26px;
  height: 43px;
  border: 3px solid #FFFFFF;
  border-radius: 100px;
}

.oxygen__ball {
  margin: 5px auto;
  width: 6px;
  height: 6px;
  background: #FFFFFF;
  border-radius: 50%;
  -webkit-animation: ball 1s ease-in-out infinite 500ms;
          animation: ball 1s ease-in-out infinite 500ms;
  position: relative;
  top: 0;
}

@media (max-width: 767px) {
  .oxygen__title {
    font-size: 3.75rem;
  }
}

.about {
  background: #F6F8FA;
  padding: 140px 0px 150px 0px;
}

.about__title {
  font-size: 3rem;
}

.about__text {
  font-family: Open Sans;
  font-size: 0.875rem;
  line-height: 1.71429em;
  font-weight: 300;
  color: #373A39;
}

.about__text p {
  margin: 0px 0px 1.07143em 0px;
}

.about__text p:last-child {
  margin: 0px 0px 0px 0px;
}

@media (min-width: 992px) {
  .about__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .about__title {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 30%;
            flex: 0 1 30%;
  }
  .about__text {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 70%;
            flex: 0 1 70%;
  }
}

@media (max-width: 992px) {
  .about__title {
    margin: 0px 0px 0.83333em 0px;
  }
}

.expertise {
  padding: 140px 0px 160px 0px;
}

.expertise__title {
  margin: 0px 0px 1.33333em 0px;
}

.expertise__row:last-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0px -15px;
}

.expertise__column {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 33.333%;
          flex: 1 1 33.333%;
  padding: 0px 15px;
}

.expertise__image img {
  max-width: 100%;
  margin: 0px 0px 28px 0px;
}

.expertise__image img:last-child {
  margin: 0px 0px 0px 0px;
}

.expertise__text p {
  margin: 0px 0px 1.07143em 0px;
}

.expertise__text p:last-child {
  margin: 0px 0px 0px 0px;
}

.item__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.item__column {
  margin: 0px 30px 0px 0px;
}

.item__column:last-child {
  margin: 0px 0px 0px 0px;
}

.item__title {
  font-family: Raleway;
  font-size: 0.875rem;
  line-height: 1.42;
  font-weight: 700;
  letter-spacing: 4.29px;
  color: #333333;
  margin: 0px 0px 1em 0px;
}

.item__text {
  text-align: justify;
  color: #777777;
}

@media (max-width: 992px) {
  .expertise {
    padding: 40px 0px;
  }
  .expertise__row {
    margin: 0px 0px 50px 0px;
  }
  .expertise__column {
    min-width: 320px;
    margin: 0px 0px 50px 0px;
  }
  .expertise__column:last-child {
    margin: 0px 0px 0px 0px;
  }
  .expertise__image {
    margin: 0px 0px 50px 0px;
  }
}

@media (min-width: 992px) {
  .expertise__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0px 0px 100px 0px;
  }
  .expertise__image {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 30%;
            flex: 1 1 30%;
  }
  .expertise__text {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 70%;
            flex: 1 1 70%;
    padding: 0px 0px 0px 30px;
  }
}

.magic {
  background: #F6F8FA;
}

.magic__column img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.magic__body {
  max-width: 559px;
  margin: 0px auto;
}

.magic__title {
  margin: 0px 0px 1em 0px;
}

.magic__text p {
  margin: 0px 0px 1.78571em 0px;
}

.magic__text p:last-child {
  margin: 0px 0px 0px 0px;
}

@media (min-width: 992px) {
  .magic__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .magic__column {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 50%;
            flex: 1 1 50%;
  }
  .magic__body {
    padding: 100px 15px 180px 15px;
  }
}

@media (max-width: 992px) {
  .magic__body {
    padding: 50px 15px 50px 15px;
  }
}

.portfolio__link {
  font-family: Open Sans;
  font-size: 0.75rem;
  line-height: 200%;
  letter-spacing: 0.16667em;
  font-weight: 600;
  color: #333333;
  position: relative;
}

.portfolio__link:hover::after {
  content: '';
  position: absolute;
  bottom: -10px;
  right: 0;
  width: 100%;
  height: 2px;
  background-color: #FCBB08;
}

@media (min-width: 992px) {
  .portfolio {
    padding: 140px 0px 100px 0px;
  }
  .portfolio__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .portfolio__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .portfolio__list li {
    margin: 0px 40px 0px 0px;
  }
  .portfolio__list li:last-child {
    margin: 0px 0px 0px 0px;
  }
}

@media (max-width: 992px) {
  .portfolio {
    padding: 40px 0px;
  }
  .portfolio__title {
    margin: 0px 0px 0.33333em 0px;
  }
  .portfolio__list {
    text-align: center;
  }
  .portfolio__list li {
    margin: 0px 0px 10px 0px;
  }
  .portfolio__list li:last-child {
    margin: 0px 0px 0px 0px;
  }
}

.gallery__body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(343px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(343px, 1fr));
  gap: 22px;
}

.gallery__item {
  position: relative;
  padding: 0px 0px 80% 0px;
}

.gallery__item img {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.gallery__footer {
  background: #F6F8FA;
  text-align: center;
  padding: 40px 0px;
}

.gallery__link {
  font-size: 0.875rem;
  line-height: 121.42857%;
  letter-spacing: 0.08571em;
  font-weight: 700;
  color: #242121;
}

@media (min-width: 768px) {
  .gallery__body {
    padding: 0px 0px 70px 0px;
  }
  .gallery__item_big {
    grid-row: span 2;
  }
}

@media (max-width: 768px) {
  .gallery__body {
    padding: 0px 0px 40px 0px;
  }
}

.info {
  font-family: Merriweather;
  text-align: center;
  padding: 130px 0px 148px 0px;
}

.info__description {
  font-size: 1.125rem;
  line-height: 200%;
  font-style: italic;
  font-weight: 300;
  color: #242121;
  margin: 0px 0px 2.77778em 0px;
}

.info__author {
  font-size: 1.125rem;
  line-height: 177.77778%;
  font-style: italic;
  color: #9E9E9E;
}

@media (max-width: 768px) {
  .info {
    padding: 40px 0px;
  }
  .info__description {
    font-size: 1rem;
  }
  .info__author {
    font-size: 1rem;
  }
}

.show {
  background: #F6F8FA;
}

.show__title {
  font-size: 2.5rem;
  line-height: 130%;
  font-weight: 700;
  color: #242121;
  margin: 0px 0px 0.625em 0px;
}

.show__text {
  color: #777777;
  text-align: justify;
  margin: 0px 0px 13.57143em 0px;
}

.show__pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.show__dot {
  cursor: pointer;
  width: 6px;
  height: 6px;
  background: #242121;
  opacity: 0.4;
  border-radius: 50%;
  margin: 0px 14px 0px 0px;
}

.show__dot:last-child {
  margin: 0px 0px 0px 0px;
}

.show__dot_big {
  width: 10px;
  height: 10px;
  opacity: 1;
}

@media (min-width: 992px) {
  .show {
    position: relative;
    padding: 307px 0px 110px 0px;
  }
  .show::before, .show::after {
    content: '';
    position: absolute;
    top: 50%;
    width: 35px;
    height: 35px;
    cursor: pointer;
  }
  .show::before {
    background: url("../img/icons/arrow-left.svg") 0 0 no-repeat;
    -webkit-transform: translate(50%, -50%);
            transform: translate(50%, -50%);
  }
  .show::after {
    right: 0;
    background: url("../img/icons/arrow-right.svg") 0 0 no-repeat;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

@media (max-width: 992px) {
  .show {
    padding: 50px 0px;
  }
}

.our__title {
  margin: 0px 0px 1.66667em 0px;
}

.our__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0px -15px;
}

.our__column {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 33.333%;
          flex: 1 1 33.333%;
  padding: 0px 15px;
  min-width: 320px;
}

.our__photo {
  margin: 0px 0px 35px 0px;
}

.our__photo img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.our__name {
  font-size: 0.875rem;
  line-height: 121.42857%;
  font-weight: 700;
  color: #333333;
  text-align: center;
  margin: 0px 0px 0.85714em 0px;
}

.our__profession {
  font-family: Open Sans;
  font-size: 0.75rem;
  line-height: 133.33333%;
  font-weight: 300;
  color: #C2C2C2;
  text-align: center;
}

@media (min-width: 767px) {
  .our {
    padding: 120px 0px 164px 0px;
  }
}

@media (max-width: 768px) {
  .our {
    padding: 40px 0px 0px 0px;
  }
  .our__column {
    margin: 0px 0px 40px 0px;
  }
}

.price {
  font-family: Open Sans;
  background: #F6F8FA;
}

.price__title {
  margin: 0px 0px 1.5em 0px;
}

.price__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0px -15px;
}

.price__column {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 33.333%;
          flex: 1 1 33.333%;
  min-width: 320px;
  padding: 0px 15px;
}

.price__body {
  background: #FFFFFF;
  text-align: center;
  padding: 20px 0px 50px 0px;
}

.price__plan {
  font-size: 1rem;
  line-height: 137.5%;
  font-weight: 700;
  color: #242121;
  text-align: left;
  padding: 0px 0px 0px 1.25em;
}

.price__price {
  font-size: 5rem;
  line-height: 136.25%;
  font-weight: 300;
  margin: 0px 0px 0.625em 0px;
}

.price__price span {
  font-size: 1.25rem;
  line-height: 135%;
  color: #242121;
}

.price__price::before {
  content: '';
  display: inline-block;
  width: 23px;
  height: 54px;
  background: url("../img/price/$.svg") 0 0 no-repeat;
}

.price__list {
  font-size: 1rem;
  line-height: 137.5%;
  font-weight: 300;
  color: #242121;
  margin: 0px 0px 4.0625em 0px;
}

.price__list li {
  margin: 0px 0px 1.875em 0px;
}

.price__list li:last-child {
  margin: 0px 0px 0px 0px;
}

.price__choice {
  font-family: Montserrat;
  font-size: 0.875rem;
  line-height: 121.42857%;
  letter-spacing: 0.08571em;
  font-weight: 700;
  color: #242121;
}

@media (min-width: 992px) {
  .price {
    padding: 144px 0px 162px 0px;
  }
}

@media (max-width: 992px) {
  .price {
    padding: 40px 0px;
  }
  .price__column {
    margin: 0px 0px 15px 0px;
  }
  .price__column:last-child {
    margin: 0px 0px 0px 0px;
  }
  .price__plan {
    font-size: 0.875rem;
  }
  .price__price {
    font-size: 3.75rem;
  }
  .price__list {
    font-size: 0.875rem;
  }
  .price__choice {
    font-size: 0.75rem;
  }
}

.contact__column img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.contact__body {
  max-width: 569px;
  margin: 0 auto;
}

.contact__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact__form input {
  padding: 0px 0px 5% 0px;
}

.contact__title {
  margin: 0px 0px 1.5em 0px;
}

.contact__name {
  margin: 0px 0px 30px 0px;
}

.contact__email {
  margin: 0px 0px 50px 0px;
}

.contact__message {
  padding: 0px 0px 30% 0px;
  margin: 0px 0px 40px 0px;
}

.contact__button {
  font-size: 0.6875rem;
  letter-spacing: 0.18182em;
  font-weight: 700;
  color: #fff;
  width: 230px;
  height: 45px;
  background-color: #242121;
  -webkit-transition: background-color 0.3s ease 0s, color 0.3s ease 0s;
  transition: background-color 0.3s ease 0s, color 0.3s ease 0s;
}

.contact__button:hover {
  background-color: #fff;
  color: #242121;
  border: 2px solid black;
}

@media (min-width: 992px) {
  .contact__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .contact__column {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 50%;
            flex: 1 1 50%;
  }
  .contact__body {
    padding: 140px 15px;
  }
}

@media (max-width: 992px) {
  .contact__body {
    padding: 40px 15px;
  }
  .contact__button {
    margin: 0px auto;
  }
}

.social {
  background: #373A39;
}

.social__body {
  max-width: 722px;
  margin: 0px auto;
  padding: 0px 15px;
  text-align: center;
}

.social__logo {
  display: block;
  position: relative;
  margin: 0px 0px 70px 0px;
}

.social__logo::after {
  content: '';
  position: absolute;
  bottom: -25px;
  left: 50%;
  width: 150px;
  height: 2px;
  margin: 0px 0px 0px -75px;
  background-color: #FCBB08;
}

.social__link {
  font-size: 0.75rem;
  line-height: 125%;
  letter-spacing: 0.33333em;
  font-weight: 300;
  color: #FFFFFF;
}

.social__info {
  font-family: Open Sans;
  font-size: 0.875rem;
  line-height: 228.57143%;
  color: #A8A8A8;
  margin: 0px 0px 3.57143em 0px;
}

.social__info-link {
  color: #A8A8A8;
}

.social__shape {
  display: inline-block;
  -webkit-animation: shape 2s ease-in-out infinite alternate;
          animation: shape 2s ease-in-out infinite alternate;
  padding: 15px 15px;
  position: relative;
  bottom: 0;
}

@media (min-width: 992px) {
  .social {
    padding: 100px 0px 60px 0px;
  }
  .social__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0px 0px 60px 0px;
  }
}

@media (max-width: 992px) {
  .social {
    padding: 40px 0px;
  }
  .social__list {
    margin: 0px 0px 40px 0px;
  }
  .social__list li {
    margin: 0px 0px 15px 0px;
  }
  .social__list li:last-child {
    margin: 0px 0px 0px 0px;
  }
}

.footer {
  font-family: Open Sans;
  font-size: 0.75rem;
  line-height: 133.33333%;
  text-align: center;
  color: #CCCCCC;
  background-color: #2A2C2B;
  padding: 40px 0px;
}

@-webkit-keyframes ball {
  0% {
    top: 0;
  }
  100% {
    top: 20px;
  }
}

@keyframes ball {
  0% {
    top: 0;
  }
  100% {
    top: 20px;
  }
}

@-webkit-keyframes shape {
  0% {
    bottom: 0;
  }
  100% {
    bottom: 20px;
  }
}

@keyframes shape {
  0% {
    bottom: 0;
  }
  100% {
    bottom: 20px;
  }
}

.statistics {
  padding: 165px 0px;
}

.statistics__number {
  font-size: 3.75rem;
  line-height: 121.66667%;
  font-weight: 700;
  color: #242121;
  margin: 0px 0px 0.15em 0px;
}

.statistics__text {
  font-family: Open Sans;
  font-size: 0.875rem;
  line-height: 135.71429%;
  color: #00B2A0;
}

@media (min-width: 768px) {
  .statistics__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media (max-width: 768px) {
  .statistics {
    padding: 40px 0px;
    text-align: center;
  }
  .statistics__column {
    margin: 0px 0px 40px 0px;
  }
  .statistics__column:last-child {
    margin: 0px 0px 0px 0px;
  }
}
