//FONTS=====================================================================================================================
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Raleway:wght@700&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,300&display=swap')
//Обнуляющие стили=====================================================================================================
@import _null
//=====================================================================================================================

body
  font-family: Montserrat

.wrapper
  min-height: 100vh
  overflow: hidden
  display: flex
  flex-direction: column

.content
  flex: 1 1 auto

.container
  max-width: 1200px
  margin: 0px auto
  padding: 0px 15px

.title
  font-weight: 700
  letter-spacing: -1.65px
  color: #242121
  font-size: 60px
  line-height: 75px
  &::after
    content: ''
    display: block
    width: 60px
    height: 4px
    margin: 14px 0px 0px 0px
    background: #FCBB08

.input-field
  border-bottom: 3px solid #242121
  font-family: Open Sans
  font-size: 12px
  line-height: 20px
  letter-spacing: 3.70909px
  color: #B8B8B8

//=====================================================================================================================
.header
  position: fixed
  top: 0px
  left: 0px
  width: 100%
  &::before
    content: ''
    position: absolute
    top: 0px
    left: 0px
    width: 100%
    height: 100%
    background-color: #fff
    z-index: 1

  &__row
    display: flex
    align-items: center
    justify-content: space-between
    padding: 20px 50px

  &__logo
    position: relative
    z-index: 2

  &__burger
    width: 40px
    height: 20px
    position: relative
    z-index: 3
    span
      display: block
      width: 100%
      height: 3px
      background-color: black
      margin: 0px 0px 7px 0px
      &:last-child
        margin: 0px 0px 0px 0px

  &__menu
    display: none
    position: relative
    z-index: 4

  &__list
    display: flex

  &__item
    margin: 0px 50px 0px 0px
    &:last-child
      margin: 0px 0px 0px 0px

  &__link
    font-family: Raleway
    font-weight: bold
    font-size: 12px
    line-height: 14px
    letter-spacing: 0.6px
    color: #373A39
    position: relative
    &:hover
      &::after
        content: ''
        display: block
        width: 100%
        height: 2px
        background-color: #FCBB08
        position: absolute
        bottom: -10px
//Media=====================================================================================================================
@media ( min-width: 992px )
  .header

    &__burger
      display: none

    &__menu
      display: block

//=====================================================================================================================
.oxygen
  background: url('../img/Header-bg.png') center / cover no-repeat
  min-height: 100vh
  padding: 210px 0px 60px 0px
  font-weight: 700
  text-align: center

  &__title
    font-size: 60px
    line-height: 122px
    color: #FFFFFF
    margin: 0px 0px 19px 0px

  &__subtitle
    font-size: 16px
    line-height: 20px
    letter-spacing: 2.74286px
    color: #FCBB08
    margin: 0px 0px 185px 0px

  &__mouse
    margin: 0 auto
    width: 26px
    height: 43px
    border: 3px solid #FFFFFF
    border-radius: 100px

  &__ball
    margin: 5px auto
    width: 6px
    height: 6px
    background: #FFFFFF
    border-radius: 50%
    position: relative
    top: 0
    animation: ball 1s ease-in-out infinite 500ms
//Media=====================================================================================================================
@media ( min-width: 767px )
  .oxygen

    &__title
      font-size: 100px

//=====================================================================================================================

.about
  background: #F6F8FA

  &__inner
    padding: 140px 0px 150px 0px

  &__row
    display: flex
    flex-direction: column

  &__title
    font-size: 48px
    margin: 0px 0px 40px 0px

  &__text
    font-family: Open Sans
    font-size: 14px
    line-height: 24px
    font-weight: 300
    color: #373A39
    p
      margin: 0px 0px 15px 0px
      &:last-child
        margin: 0px 0px 0px 0px

//Media=====================================================================================================================
@media ( min-width: 992px )
  .about

    &__row
      flex-direction: row

    &__title
      margin: 0px 0px 0px 0px
      flex: 0 1 30%

    &__text
      flex: 0 1 70%

//=====================================================================================================================

.expertise

  &__inner
    padding: 140px 0px 160px 0px

  &__title
    margin: 0px 0px 80px 0px

  &__row
    display: flex
    flex-wrap: wrap

  &__image
    flex: 0 1 100%
    margin: 0px 0px 40px 0px
    img
      max-width: 100%
      margin: 0px 0px 28px 0px
      &:last-child
        margin: 0px 0px 0px 0px

  &__text
    flex: 0 1 100%
    font-family: Open Sans
    font-weight: 300
    color: #373A39
    font-size: 14px
    line-height: 24px
    p
      margin: 0px 0px 15px 0px
      &:last-child
        margin: 0px 0px 0px 0px

  &__column
    flex: 0 1 100%
    margin: 0px 0px 50px 0px
    &:last-child
      margin: 0px 0px 0px 0px

.item

  &__row
    display: flex

  &__column
    margin: 0px 30px 0px 0px
    &:last-child
      margin: 0px 0px 0px 0px

  &__title
    font-family: Raleway
    font-weight: bold
    font-size: 14px
    line-height: 20px
    letter-spacing: 4.29px
    color: #333333
    margin: 0px 0px 14px 0px

  &__description
    font-family: Open Sans
    text-align: justify
    color: #777777
    font-size: 14px
    line-height: 24px
    font-weight: 300

//Media=====================================================================================================================
@media ( min-width: 767px )
  .expertise
    &__row
      margin: 0px -15px 100px -15px
      &:last-child
        margin: 0px -15px 0px -15px

    &__image
      flex: 0 1 50%
      margin: 0px 0px 0px 0px
      padding: 0px 15px

    &__text
      flex: 0 1 50%
      padding: 0px 15px

    &__column
      padding: 0px 15px
      flex: 0 1 50%
      &:last-child
        flex: 0 1 100%

@media ( min-width: 992px )
  .expertise

    &__image
      flex: 0 1 30%

    &__text
      flex: 0 1 70%

    &__column
      margin: 0px 0px 0px 0px
      flex: 0 1 33.333%
      &:last-child
        flex: 0 1 33.333%

//=====================================================================================================================
.magic
  background: #F6F8FA

  &__row
    display: flex
    flex-direction: column

  &__column
    flex: 0 1 50%
    img
      width: 100%
      height: 100%
      object-fit: cover

  &__inner
    padding: 100px 0px 180px 0px

  &__body
    max-width: 559px
    padding: 0px 15px
    margin: 0px auto

  &__title
    margin: 0px 0px 60px 0px
    line-height: 75px

  &__text
    font-family: Open Sans
    font-weight: 300
    color: #373A39
    font-size: 14px
    line-height: 24px
    p
      margin: 0px 0px 15px 0px
      &:last-child
        margin: 0px 0px 0px 0px
//Media=====================================================================================================================
@media ( min-width: 992px )
  .magic

    &__row
      flex-direction: row

//=====================================================================================================================

.portfolio

  &__inner
    padding: 139px 0px 103px 0px

  &__row
    display: flex
    align-items: center
    flex-wrap: wrap

  &__title
    flex: 0 1 50%
    margin: 0px 0px 20px 0px

  &__menu
    flex: 0 1 50%

  &__list
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    li
      flex: 0 1 100%
      margin: 0px 0px 15px 0px
      &:last-child
        margin: 0px 0px 0px 0px

  &__link
    font-family: Open Sans
    font-weight: 600
    font-size: 12px
    line-height: 24px
    letter-spacing: 2px
    color: #333333
    position: relative
    &:hover
      &::after
        content: ''
        position: absolute
        top: 25px
        right: 0
        display: block
        width: 100%
        height: 2px
        background-color: #FCBB08

//Media=====================================================================================================================

@media ( min-width: 992px )
  .portfolio

    &__list
      text-align: right
      li
        flex: 0 1 10%

    &__title
      margin: 0px 0px 0px 0px

//=====================================================================================================================
.gallery

  &__row
    display: flex
    flex-wrap: wrap
    margin: 0px 0px 70px 0px

  &__column
    flex: 0 1 100%

  &__item
    overflow: hidden
    margin: 0px 0px 20px 0px
    img
      width: 100%
      height: 100%
      object-fit: cover

    &_1
      height: 494px

    &_2
      height: 395px

    &_3
      height: 288px

    &_4
      height: 288px

    &_5
      height: 292px

    &_6
      height: 367px

    &_7
      height: 523px
    &_8
      height: 318px

    &_9
      height: 572px
      margin: 0px 0px 0px 0px
//Media=====================================================================================================================

@media ( min-width: 767px )
  .gallery

    &__column
      flex: 0 1 50%

    &__item

      &_7
        margin: 0px 0px 0px 0px

@media ( min-width: 1300px )
  .gallery

    &__row
      flex-wrap: nowrap

    &__column
      flex: 0 1 25%
      margin: 0px 20px 0px 0px
      &:last-child
        margin: 0px 0px 0px 0px

    &__item
      &:last-child
        margin: 0px 0px 0px 0px

//=====================================================================================================================
.footer-gallery
  background: #F6F8FA

  &__row
    height: 160px
    display: flex
    align-items: center
    justify-content: center

  &__text
    font-size: 14px
    line-height: 17px
    font-weight: bold
    letter-spacing: 1.2px
    color: #242121
//=====================================================================================================================

.info
  font-family: Merriweather
  padding: 130px 0px 148px 0px

  &__description
    font-style: italic
    font-weight: 300
    color: #242121
    text-align: center
    font-size: 18px
    line-height: 36px
    margin: 0px 0px 50px 0px

  &__author
    color: #9E9E9E
    text-align: center
    font-size: 18px
    line-height: 32px
    font-style: italic
//=====================================================================================================================

.video
  img
    width: 100%

//=====================================================================================================================
.statistics
  padding: 165px 0px

  &__row
    display: flex
    justify-content: space-around
    flex-direction: column
    align-items: center

  &__column
    margin: 0px 0px 40px 0px

  &__number
    font-weight: bold
    color: #242121
    text-align: center
    margin: 0px 0px 9px 0px
    font-size: 60px
    line-height: 73px

  &__text
    font-family: Open Sans
    color: #00B2A0
    font-size: 14px
    line-height: 19px
//Media===================================================================================================================
@media ( min-width: 992px )
  .statistics

    &__row
      flex-direction: row

    &__column
      margin: 0px 0px 0px 0px

//=====================================================================================================================
.show
  background: #F6F8FA

  &__inner
    padding: 50px 0px
    position: relative

  &__title
    font-weight: bold
    color: #242121
    font-size: 40px
    line-height: 52px
    margin: 0px 0px 25px 0px

  &__subtitle
    font-family: Open Sans
    font-weight: 300
    color: #777777
    text-align: justify
    font-size: 14px
    line-height: 24px
    margin: 0px 0px 30px 0px

  &__pagination
    display: flex
    align-items: center

  &__dot
    margin: 0px 14px 0px 0px
    cursor: pointer
    width: 6px
    height: 6px
    background: #242121
    opacity: 0.4
    border-radius: 50%
    &:last-child
      margin: 0px 0px 0px 0px

    &_big
      width: 10px
      height: 10px
      opacity: 1

//Media=====================================================================================================================
@media ( min-width: 500px )
  .show
    &__inner
      padding: 307px 0px 110px 0px

@media ( min-width: 992px )
  .show
    &__subtitle
      margin: 0px 0px 190px 0px

@media ( min-width: 1024px )
  .show
    &__title
      &::before
        content: ''
        display: block
        width: 35px
        height: 35px
        background: url('../img/icons/arrow-left.svg') 0 0 no-repeat
        position: absolute
        top: 50%
        left: 0
        cursor: pointer
      &::after
        content: ''
        display: block
        width: 35px
        height: 35px
        background: url('../img/icons/arrow-right.svg') 0 0 no-repeat
        position: absolute
        top: 50%
        right: 0
        cursor: pointer

@media ( min-width: 1300px )
  .show
    &__title
      &::before
        content: ''
        margin: 0px 0px 0px 30px
      &::after
        content: ''
        margin: 0px 30px 0px 0px

//=====================================================================================================================
.our
  padding: 120px 0px 164px 0px

  &__title
    margin: 0px 0px 102px 0px

  &__row
    display: flex
    flex-wrap: wrap

  &__column
    flex: 0 1 100%
    margin: 0px 0px 30px 0px
    &:last-child
      margin: 0px 0px 0px 0px

  &__photo
    margin: 0px 0px 35px 0px
    img
      width: 100%
      object-fit: cover

  &__name
    text-align: center
    margin: 0px 0px 12px 0px
    font-size: 14px
    line-height: 17px
    font-weight: bold
    color: #333333

  &__profession
    font-family: Open Sans
    text-align: center
    font-weight: 300
    font-size: 12px
    line-height: 16px
    color: #C2C2C2

//Media=====================================================================================================================
@media ( min-width: 767px )
  .our

    &__row
      margin: 0px -15px

    &__column
      flex: 0 1 50%
      padding: 0px 15px
      margin: 0px 0px 30px 0px
      &:last-child
        flex: 0 1 100%

@media ( min-width: 992px )
  .our

    &__column
      flex: 0 1 33.333%
      margin: 0px 0px 0px 0px
      &:last-child
        flex: 0 1 33.333%

//=====================================================================================================================

.price
  font-family: Open Sans
  background: #F6F8FA
  padding: 144px 0px 162px 0px

  &__title
    margin: 0px 0px 90px 0px

  &__row
    display: flex
    flex-wrap: wrap

  &__column
    flex: 0 1 100%
    margin: 0px 0px 30px 0px
    &:last-child
      margin: 0px 0px 0px 0px

  &__inner
    padding: 20px 0px 50px 0px
    background: #FFFFFF

  &__body
    text-align: center
    max-width: 240px
    margin: 0px auto

  &__plan
    text-align: left
    font-weight: bold
    font-size: 16px
    line-height: 22px
    margin: 0px 0px 8px 0px
    padding: 0px 0px 0px 20px
    color: #242121

  &__price
    font-weight: 300
    font-size: 80px
    line-height: 109px
    margin: 0px 0px 50px 0px
    span
      font-size: 20px
      line-height: 27px
      color: #242121
    &::before
      content: ''
      display: inline-block
      width: 23px
      height: 54px
      background: url('../img/price/$.svg') 0 0 no-repeat

  &__list
    font-size: 16px
    line-height: 22px
    font-weight: 300
    margin: 0px 0px 65px 0px
    color: #242121
    li
      margin: 0px 0px 30px 0px
      &:last-child
        margin: 0px 0px 0px 0px

  &__choice
    font-family: Montserrat
    font-weight: bold
    font-size: 14px
    line-height: 17px
    letter-spacing: 1.2px
    color: #242121

//Media====================================================================================================================
@media  ( min-width: 767px )
  .price

    &__row
      margin: 0px -15px

    &__column
      padding: 0px 15px
      flex: 0 1 50%
      &:last-child
        flex: 0 1 100%

@media  ( min-width: 992px )
  .price

    &__row

    &__column
      margin: 0px 0px 0px 0px
      flex: 0 1 33.333%
      &:last-child
        flex: 0 1 33.333%

//=====================================================================================================================
.contact

  &__row
    display: flex
    flex-wrap: wrap

  &__column
    flex: 0 1 100%
    img
      width: 100%
      height: 100%
      object-fit: cover

  &__body
    padding: 140px 15px
    max-width: 569px
    margin: 0 auto

  &__form
    display: flex
    flex-direction: column

  &__title
    margin: 0px 0px 90px 0px

  &__name
    padding: 0px 0px 5% 0px
    margin: 0px 0px 30px 0px

  &__email
    padding: 0px 0px 5% 0px
    margin: 0px 0px 50px 0px

  &__message
    padding: 0px 0px 30% 0px
    margin: 0px 0px 40px 0px

  &__btn
    background-color: #242121
    color: #fff
    font-weight: bold
    font-size: 11px
    letter-spacing: 2px
    width: 230px
    height: 45px
    margin: 0px auto
    transition: background-color 0.3s ease 0s, color 0.3s ease 0s
    &:hover
      background-color: #fff
      color: #242121
      border: 2px solid black
//Media=====================================================================================================================
@media ( min-width: 992px )
  .contact

    &__column
      flex: 0 1 50%

    &__btn
      margin: 0px 0px 0px 0px

//=====================================================================================================================

.social
  text-align: center
  background: #373A39

  &__inner
    padding: 100px 0px 60px 0px

  &__logo
    display: block
    margin: 0px 0px 70px 0px
    position: relative
    &::after
      content: ''
      display: block
      width: 150px
      height: 2px
      background-color: #FCBB08
      position: absolute
      bottom: -25px
      left: 50%
      margin: 0px 0px 0px -75px

  &__list
    display: flex
    flex-wrap: wrap
    justify-content: center
    text-align: center
    margin: 0px 0px 60px 0px
    li
      flex: 0 1 100%
      margin: 0px 0px 20px 0px
      &:last-child
        margin: 0px 0px 0px 0px

  &__link
    font-weight: 300
    font-size: 12px
    line-height: 15px
    letter-spacing: 4px
    color: #FFFFFF

  &__text
    font-family: Open Sans
    font-size: 14px
    line-height: 32px
    color: #A8A8A8
    margin: 0px 0px 50px 0px

  &__shape
    position: relative
    bottom: 0
    animation: shape 2s ease-in-out infinite alternate
    display: inline-block
    padding: 15px 15px

//Media=====================================================================================================================
@media ( min-width: 992px )
  .social

    &__list

      li
        flex: 0 1 11%
        margin: 0px 0px 0px 0px

//=====================================================================================================================

.footer
  background-color: #2A2C2B

  &__row
    display: flex
    justify-content: center
    align-items: center
    height: 84px
  &__text
    font-family: Open Sans
    font-size: 12px
    line-height: 16px
    text-align: center
    color: #CCCCCC
//Animation====================================================================================================================
@keyframes ball
  0%
    top: 0
  100%
    top: 20px

@keyframes shape
  0%
    bottom: 0
  100%
    bottom: 20px
